%strong
  = "Find a user to edit"
%li
  %label{:for => "email"} Email Address:
  %input{:type => "text", :name => "email", :value => @usersearch}
%li
  %input{:type => "submit", :value => "Find User"}