!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
    %title Professor Bingo - Admin Control Panel
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}
  %body
    =haml :header
    .controlnav
      ="Tasks:"
      %a{:title => "Home", :id => "ControlPanelHome", :href => "/controlpanel/home/"} Control Panel Home
      %br
      %a{:title => "Add an Admin", :id => "ControlPanelAddAdmin", :href => "/controlpanel/addadmin/"} Make a user an Admin
    .main
      =haml ('cpanel/'+ @page).to_sym rescue redirect '/controlpanel/'