!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
    %title Professor Bingo - Admin Control Panel
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}
  %body
    =haml :header
    .controlnav
      %br
      ="Tasks:"
      %br
      %a{:title => "Home", :id => "Home", :href => "/"} Home
      %br
      %a{:title => "CPanelHome", :id => "ControlPanelHome", :href => "/controlpanel/"} Control Panel Home
      %br
      %a{:title => "Users", :id => "ControlPanelUsers", :href => "/controlpanel/users/"} Users
      %br
      %a{:title => "Schools", :id => "ControlPanelSchools", :href => "/controlpanel/schools/"} Schools
    .main
      =haml("cpanel/#{@page}".to_sym) rescue redirect "/controlpanel/"