.header
  .title
    %h1
      ="Professor Bingo!"
  .login_info
    - if session[:user]
      = "Welcome " + session[:user].email
      %a{:title => "Logout", :id => "Logout", :href => "/logout/"} Logout
    - else
      %a{:title => "Register", :id => "Register", :href => "/register/"} Register
      %br
      %a{:title => "Login", :id => "Login", :href => "/login/"} Login
  - if session[:message]
    .message
      =session[:message]
      -session[:message] = nil
  