!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
    %title Professor Bingo - Register
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}
  %body
    =haml :header
    %h2
      ="Register for Professor Bingo"
    %form{:action => "", :method => "post"}
      %fieldset
        %ol
          %li
            %label{:for => "first_name"} First Name:
            %input{:type => "text", :name => "first_name", :value => @first_name}
          %li
            %label{:for => "last_name"} Last Name:
            %input{:type => "text", :name => "last_name", :value => @last_name}
          %li
            %label{:for => "password"} Password:
            %input{:type => "password", :name => "password", :value => @password}
          %li
            %label{:for => "email"} School Email Address:
            %input{:type => "text", :name => "email", :value => @email}
          %li
            %input{:type => "submit", :value => "Register"}