- pp "Found edit.haml"
%h3
  ="Edit School"
%form{:action => "", :method => "post"}
  %fieldset
    %ul
    - if(!@school)
      =haml 'cpanel/school/find'.to_sym
    - else
      %li
        %label{:for => "name"} School Name:
        %input{:type => "text", :name => "name", :value => @school.name}
      %li
        %label{:for => "short"} Abbreviation:
        %input{:type => "text", :name => "short", :value => @school.short}
      %li
        %label{:for => "emailext"} Email Extension:
        %input{:type => "text", :name => "emailext", :value => @school.emailext}
      %li
        %label{:for => "valid"} School Is Enabled: 
        %input{:type => "checkbox", :id => "valid", :name => "valid", :checked => @school.item_enabled}
        %input{:type => "hidden", :id => "schoolid", :name => "schoolid", :value => @school.id}
      %li
        %input{:type => "submit", :value => "Edit School"}
  - if(!@schools.nil?)
    - @schools.each do |school|
      %a{:title => "#{user.email}", :href => "/controlpanel/school/edit/#{school.name}"}
        =school.email
      %br