%h2
  ="Find a school"
%form{:action => "", :method => "post"}
  %fieldset
    %ul
      %li
        %label{:for => "email"} Email Address:
        %input{:type => "text", :name => "email", :value => @usersearch}
      %li
        %input{:type => "submit", :value => "Find User"}