%strong
  = "Find a school to edit"
%li
  %label{:for => "name"} School Name:
  %input{:type => "text", :name => "name", :value => @schoolsearch}
%li
  %input{:type => "submit", :value => "Find School"}