%h3
  ="Add a new Professor"
%form{:action => "", :method => "post"}
  %fieldset
    %ul
      %li
        %label{:for => "name"} Professor Name:
        %input{:type => "text", :name => "name", :value => @name}
      %li
        %label{:for => "school"} Professor School:
        %input{:type => "text", :name => "school", :value => @school}
      %li
        %label{:for => "dept"} Professor Dept:
        %input{:type => "text", :name => "dept", :value => @dept}
      %li
        %input{:type => "submit", :value => "Add New Professor"}
