%h2
  ="Make another user an Administrator"
%h2
  ="Change User's Permissions"
%form{:action => "", :method => "post"}
  %fieldset
    %ul
      %li
        %label{:for => "email"} Email Address:
        %input{:type => "text", :name => "email", :value => @user}
      
      %li
        %label{:for => "type"} Type 
        - if(session[:user].superadmin?)
          ="(Super Admins have root access):"
          %br
          %input{:type => "radio", :id => "superadmin", :name => "type", :value => "superadmin"} Super Admin
        %br
        %input{:type => "radio", :id => "admin", :name => "type", :value => "admin", :checked => true} Admin
        %br
        %input{:type => "radio", :id => "supermod", :name => "type", :value => "supermod"} Super Moderator
        %br
        %input{:type => "radio", :id => "mod", :name => "type", :value => "mod"} Moderator
        %br
        %input{:type => "radio", :id => "standard", :name => "type", :value => "regular"} Standard

      %li
        %input{:type => "submit", :value => "Submit"}